<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InterfaceDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <InterfaceDesktop.Properties.Settings>
            <setting name="sP" serializeAs="String">
                <value>fP</value>
            </setting>
            <setting name="sQ" serializeAs="String">
                <value>fQ</value>
            </setting>
            <setting name="sS" serializeAs="String">
                <value>fS</value>
            </setting>
            <setting name="sVab" serializeAs="String">
                <value>fVab</value>
            </setting>
            <setting name="sVbc" serializeAs="String">
                <value>fVbc</value>
            </setting>
            <setting name="sVca" serializeAs="String">
                <value>fVac</value>
            </setting>
            <setting name="sVan" serializeAs="String">
                <value>fVan</value>
            </setting>
            <setting name="sVbn" serializeAs="String">
                <value>fVbn</value>
            </setting>
            <setting name="sVcn" serializeAs="String">
                <value>fVcn</value>
            </setting>
            <setting name="sIa" serializeAs="String">
                <value>fIa</value>
            </setting>
            <setting name="sIb" serializeAs="String">
                <value>fIb</value>
            </setting>
            <setting name="sIc" serializeAs="String">
                <value>fIc</value>
            </setting>
            <setting name="sFreq" serializeAs="String">
                <value>fFreq</value>
            </setting>
            <setting name="sFP" serializeAs="String">
                <value>fPF</value>
            </setting>
            <setting name="sEP" serializeAs="String">
                <value>fEP</value>
            </setting>
            <setting name="sEQ" serializeAs="String">
                <value>fEQ</value>
            </setting>
            <setting name="sES" serializeAs="String">
                <value>fES</value>
            </setting>
            <setting name="sIMa" serializeAs="String">
                <value>fIMa</value>
            </setting>
            <setting name="sIMb" serializeAs="String">
                <value>fIMb</value>
            </setting>
            <setting name="sIMc" serializeAs="String">
                <value>fIMc</value>
            </setting>
            <setting name="sPM" serializeAs="String">
                <value>fPM</value>
            </setting>
            <setting name="sQM" serializeAs="String">
                <value>fQM</value>
            </setting>
            <setting name="sSM" serializeAs="String">
                <value>fSM</value>
            </setting>
            <setting name="sIPa" serializeAs="String">
                <value>fIPa</value>
            </setting>
            <setting name="sIPb" serializeAs="String">
                <value>fIPb</value>
            </setting>
            <setting name="sIPc" serializeAs="String">
                <value>fIPc</value>
            </setting>
            <setting name="sPP" serializeAs="String">
                <value>fPP</value>
            </setting>
            <setting name="sSP" serializeAs="String">
                <value>fPS</value>
            </setting>
            <setting name="sTOleo" serializeAs="String">
                <value>fTO</value>
            </setting>
            <setting name="sTEntolamento" serializeAs="String">
                <value>fTE</value>
            </setting>
            <setting name="sNivelOleo" serializeAs="String">
                <value>fNO</value>
            </setting>
            <setting name="sValvulaPressao" serializeAs="String">
                <value>fVL</value>
            </setting>
            <setting name="sQP" serializeAs="String">
                <value>fPQ</value>
            </setting>
            <setting name="APIKEY" serializeAs="String">
                <value />
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value />
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Senha" serializeAs="String">
                <value />
            </setting>
            <setting name="Janela" serializeAs="String">
                <value>2 Horas</value>
            </setting>
        </InterfaceDesktop.Properties.Settings>
    </userSettings>
</configuration>
