<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InterfaceDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <InterfaceDesktop.Properties.Settings>
            <setting name="sP" serializeAs="String">
                <value />
            </setting>
            <setting name="sQ" serializeAs="String">
                <value />
            </setting>
            <setting name="sS" serializeAs="String">
                <value />
            </setting>
            <setting name="sVab" serializeAs="String">
                <value />
            </setting>
            <setting name="sVbc" serializeAs="String">
                <value />
            </setting>
            <setting name="sVca" serializeAs="String">
                <value />
            </setting>
            <setting name="sVan" serializeAs="String">
                <value />
            </setting>
            <setting name="sVbn" serializeAs="String">
                <value />
            </setting>
            <setting name="sVcn" serializeAs="String">
                <value />
            </setting>
            <setting name="sIa" serializeAs="String">
                <value />
            </setting>
            <setting name="sIb" serializeAs="String">
                <value />
            </setting>
            <setting name="sIc" serializeAs="String">
                <value />
            </setting>
            <setting name="sFreq" serializeAs="String">
                <value />
            </setting>
            <setting name="sFP" serializeAs="String">
                <value />
            </setting>
            <setting name="sEP" serializeAs="String">
                <value />
            </setting>
            <setting name="sEQ" serializeAs="String">
                <value />
            </setting>
            <setting name="sES" serializeAs="String">
                <value />
            </setting>
            <setting name="sIMa" serializeAs="String">
                <value />
            </setting>
            <setting name="sIMb" serializeAs="String">
                <value />
            </setting>
            <setting name="sIMc" serializeAs="String">
                <value />
            </setting>
            <setting name="sPM" serializeAs="String">
                <value />
            </setting>
            <setting name="sQM" serializeAs="String">
                <value />
            </setting>
            <setting name="sSM" serializeAs="String">
                <value />
            </setting>
            <setting name="sIPa" serializeAs="String">
                <value />
            </setting>
            <setting name="sIPb" serializeAs="String">
                <value />
            </setting>
            <setting name="sIPc" serializeAs="String">
                <value />
            </setting>
            <setting name="sPP" serializeAs="String">
                <value />
            </setting>
            <setting name="sSP" serializeAs="String">
                <value />
            </setting>
            <setting name="sTOleo" serializeAs="String">
                <value />
            </setting>
            <setting name="sTEntolamento" serializeAs="String">
                <value />
            </setting>
            <setting name="sNivelOleo" serializeAs="String">
                <value />
            </setting>
            <setting name="sValvulaPressao" serializeAs="String">
                <value />
            </setting>
            <setting name="sQP" serializeAs="String">
                <value />
            </setting>
            <setting name="APIKEY" serializeAs="String">
                <value />
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value />
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Senha" serializeAs="String">
                <value />
            </setting>
            <setting name="Janela" serializeAs="String">
                <value>2 Horas</value>
            </setting>
        </InterfaceDesktop.Properties.Settings>
    </userSettings>
</configuration>
